 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;  
}

.wrappersh {
    position: relative;
    width: 1000px !important;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    margin-left: 100px;
   margin-top:0 !important;
    
}

.wrappersh h3 {
    background: #fff;
   color:black;
   font-size: 17px;
}

.wrappersh h3 b {
    background: #fff;
   color:black;
   font-size: 17px;
}

.wrappersh h2 {
    background: #fff;
    color: #435d7d;
}

 